/*
RESPONSIVE DESIGN
*/
/*
em - relative to the font-size of the element.
rem - relative to font-size of the root element.
*/
/*Typography - Viewport units make fluid typography on the web possible. Viewport units refer to a browsers viewport dimensions. For example 1 vw(viewport width) is equal to 1% of the viewports width. The four viewport units are vw:viewport width,
vh:viewport height, vmin:the smaller value of the viewports width and height, vmax:the larger value of the viewports width and height.
*/

html {
    font-size: 2vw;
}
/*By setting the root element to 2vw, we have changed the root em because all em or rem units are related to the root em so they will now all be fluid.*/

.font-size h1 {
    font-size: 3em;
}
/*A heading of 3em is now equivalent to 6vw because this is triple the current .font-size of 2vw.*/

.font-size p {
    font-size: 0.8em;
    font-size: clamp();
}

/*One problem with using viewport is viewport units are always relative to the viewport, on very small screens you could end up with very small font sizes and large screens the text can be too big.*/

/*One solution is to use media queries at a certain screen size breakpoint that sets the font size in a non-relative unit.*/

@media screen and (max-width: 500px) {
    .font-size h1 {
        font-size: 30px;
        color: blue;
    }
}

/*There is also a concept called CSS locks using the css calc function to slowly scale between a min and a max font size.*/




/*Flexbox
Is a module that provides a more efficient way to lay out, align and distribute space among items in a container even when the size is dynamic. 
The idea behind flexbox is to give the container the ability to alter its items width, height and order to best fill in all avalible free space or shrinks them to prevent overflow.
Flexbox unlike block and inline is direction agnostic.
Flexbox is most appropriate for components of an application and small scale layouts while grid layout is intended for larger scale layouts. 
*/



.flex-div {
    display: flex;
    justify-content: space-between;
}

.flex-div .box {
    height: 100px;
    width: 100px;
    background-color: #000;
    margin-left: 1px;
}









